/* || GENERAL STYLES */

body {  
    margin: 0;
    background-color: var(--white-color-2);
    font-family: var(--body-font-family);
    font-size: calc(0.50rem + 1vw);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font-family);
    color: var(--primary-color-1);
}

h1{
    color:var(--white-color-1);
    font-size: calc(0.75rem + 2vw);
}

h2{
    font-size: calc(0.7rem + 2vw);
}

h3{
    font-size: calc(0.65rem + 2vw);
}

h4{
    font-size: calc(0.6rem + 2vw);
}

#test-questions h2{
    color: var(--black-color-1);
}
/*
ul { }

blockquote {  }
*/

/* || UTILITIES */

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
  }


/* || SITEWIDE */

nav { 
    height: 90px;
    background: var(--white-color-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;    
 }

.main-nav { 
    display: flex;
    width: 560px;
    justify-content: space-between;
    font-family: Tajawal;
    
 }

.main-nav a{
    text-decoration: none;
}

.login {
    width: 215px;
    height: 42px;
    color: var(--secondary-color-1);
    background-color: var(--white-color-1);
    border-radius: 5px;
    border: solid var(--secondary-color-1);

}

.logo { 
    justify-self: right;
 }


header{
    height: 335px;
    background-color: var(--primary-color-1);
    color:var(--white-color-1);
}
/*
.question {
    display: flex;
    justify-content: space-around;
}
*/
footer{
    /*height: 400px;*/
    background-color: var(--white-color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

 /* unvisited link */
 a:link {
    color: var(--primary-color-1);
  }
  
  /* visited link */
  a:visited {
    color: var(--primary-color-1);
  }
  
  /* mouse over link */
  nav a:hover {
    color: var(--primary-color-1);
    background-color: var(--white-color-2);
  }
  
  /* selected link */
  a:active {
    color: var(--primary-color-1);
  } 


/* || Typography */



/* || Header and Main Navigation */


/* || Global CSS Properties */
:root {
    /*Primary color shades*/
    --primary-color-1: #004C38;
    --primary-color-2: #004C38;
    --primary-color-3: #004C38;
    --primary-color-4: #004C38;
    --primary-color-5: #004C38;
    /*Secondary color shades*/
    --secondary-color-1: #F8A306;
    --secondary-color-2: #F8A306;
    --secondary-color-3: #F8A306;
    --secondary-color-4: #F8A306;
    --secondary-color-5: #F8A306;
    /*Teritary color shades*/
    --red-color-1: red;
    --red-color-2: red;
    --red-color-3: red;
    --red-color-4: red;
    --red-color-5: red;
    /*White shades*/
    --white-color-1: #FFFFFF;
    --white-color-2: #F7F7F7;
    --white-color-3: #EEEEEE;
    --white-color-4: #F7F7F7;
    --white-color-5: #F7F7F7;
    /*Black shades*/
    --black-color-1: #000000;
    --black-color-2: #000000;
    --black-color-3: #000000;
    --black-color-4: #000000;
    --black-color-5: #000000;
    /*Fonts*/
    --body-font-family: "Noto Sans Arabic";
    --heading-font-family: Tajawal;
    /*Text sizes*/
  }
  