/* || GENERAL STYLES */

body {  
    margin: 0;
    background-color: #F7F7F7;
    font-family: "Noto Sans Arabic";
}

h1, h2, h3, h4 {
    font-family: Tajawal;
    color:#004C38;
}

h1{
    color:#FFFFFF;
}

/*
ul { }

blockquote {  }
*/

/* || UTILITIES */

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
  }


/* || SITEWIDE */

nav { 
    height: 90px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
        
 }

.main-nav { 
    display: flex;
    width: 560px;
    justify-content: space-between;
    font-family: Tajawal;
    
 }

.main-nav a{
    text-decoration: none;
}

.login {
    width: 215px;
    height: 42px;
    color: #F8A306;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid #F8A306;

}

.logo { 
    justify-self: right;
 }


header{
    height: 335px;
    background-color: #004C38;
    color:#FFFFFF;
}

.question {
    display: flex;
    justify-content: space-around;
}

footer{
    height: 400px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

 /* unvisited link */
 a:link {
    color: #004C38;
  }
  
  /* visited link */
  a:visited {
    color: #004C38;
  }
  
  /* mouse over link */
  nav a:hover {
    color: #004C38;
    background-color: #F7F7F7;
  }
  
  /* selected link */
  a:active {
    color: #004C38;
  } 


/* || Typography */



/* || Header and Main Navigation */

